# deployv
# mysqlclient
# cryptography==2.8
# cython==0.29.22
# setuptools_rust==0.11.6
urllib3==1.24.3
poetry
jsonschema==3.0.1
apache-airflow[password,mysql,postgres,s3]==1.10.2

# gspread>=0.6.2
# authlib>=0.7

